body {
    margin: 0;
    padding-top: 800px;
}

#welcome {
    position: absolute;
    text-align: center;
    overflow: hidden;
    height: 800px;
    color: snow;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 500px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    line-height: 1.2;
    font-family: monospace;
    font-weight: 300;
}

#name {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
}

.parallax-container {
    background-image: url("https://images.unsplash.com/photo-1606954736404-22c88d83a2f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile {
    width: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
    margin: auto;
}

.menu {

    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    background-color: dodgerblue;
}
